<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename = 'main.css')}}">
    <title>BLOGGING SITE</title>
</head>
<body>
    <div class="header">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand"  href="/" style="font-size: 18px;" >Blog Website</a>
          </div>
          <ul class="nav navbar-nav">
            <li ><a href="/posts" style="font-size: 18px ;">Blogs</a></li>
            <!-- <li><a href="#">Page 1</a></li>
            <li><a href="#">Page 2</a></li> -->
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/register"><span class="glyphicon glyphicon-user" style="font-size: 18px ;"></span> REGISTER</a></li>
            <li><a href="/login"><span class="glyphicon glyphicon-log-in" style="font-size: 18px ; "></span> Login</a></li>
          </ul>
        </div>
      </nav>
      </div>

  <div class="container">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{ category}}">
          {{ message }}
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
      {% block content %} {% endblock %}
  </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>