{% extends 'base.html' %}

{% block content %}
        <div class="container">
          <div class="card">
            <div class="card-body">
              <h1 style="color:white">Personal blog website</h1>
              <small>BLOG#1</small>
              <h1 style="color:#d7e8ede7">A programming language is any set of rules that converts strings, or graphical program elements in the case of visual programming languages, to various kinds of machine code output. Programming languages are one kind of computer language, and are used in computer programming to implement algorithms.</h1>
              <a class="btn btn-lg btn-primary" href="{{url_for('login')}}">READ MORE.......</a>
            </div>
          </div>
          
        </div>
        
   
      <div class="container" style="color: rgb(176, 220, 246); font-size:22px;">
         {% for post in posts %}
         {% if post.author.img_file %}
      <img src="{{url_for('static', filename='img/' + post.author.img_file) }}" alt="" class="rounded-circle post-img">
          {% endif %}
      <h1>{{ post.title }}</h1>
      <p>By: {{post.author.username}}</p>
      <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
      {% if post.author == current_user %}
      <div>
         <a href="{{url_for('post',post_id = post.id)}}" class="btn btn-secondary btn-sm mt-1">update</a>
         <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
      </div>
      {% endif %}
      </div>
      <h2 class="article-title"><a href="{{url_for('post', post_id=post.id)}}">{{ post.title }}</a></h2>
      <h2 class="article-content">{{ post.content }}</h2>
      <p class="article-content">{{post.content}}</p>
      {% endfor %}
      </div>
      <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
          
            
           </div>
         </div>
  
    {% endblock %}
